<div class="dashboard-container">
  <main class="content">
    <section class="info-cards">
      <div class="card">
        <h3>Informação Usuario</h3>
        <p>Status da conta: <span class="badge">Ativa</span></p>
        <h4><strong>ID do usuario: </strong></h4>
        <p>{{usuario?.id}}</p>
        <h4>Username</h4>
        <p>{{usuario?.username}}</p>
        <h4>Nome</h4>
        <p>{{usuario?.name}}</p>
        <h4>Email</h4>
        <p>{{ usuario?.email }}</p>
        <h4>CPF</h4>
        <p>{{usuario?.cpf}}</p>
      
      </div>
    </section>
  </main>
</div>