<div class="register-container">
  <h2>Cadastro</h2>
  <form #registerForm="ngForm" (ngSubmit)="efetuarRegistro()">
    <input type="text" name="name" [(ngModel)]="novoUsuario.name" placeholder="Name" required>
    <input type="text" name="username" [(ngModel)]="novoUsuario.username" placeholder="Username" required>
    <input type="text" name="cpf" [(ngModel)]="novoUsuario.cpf" placeholder="CPF" required>
    <input type="email" name="email" [(ngModel)]="novoUsuario.email" placeholder="E-mail" required>
    <input type="password" name="password" [(ngModel)]="novoUsuario.password" placeholder="Password" required>
    <button type="submit">Cadastrar</button>
  </form>
</div>